Repository A-kirami/nonebot-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --flag unstable_ts_config, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix --flag unstable_ts_config",
    "*.{css,vue}": "stylelint --fix"
}

✨ 添加窗口控件
  src/components/ui/controls/ControlsButton.vue
  src/components/ui/controls/ControlsIcons.vue
  src/components/ui/controls/LICENSE
  src/components/ui/controls/README.md
  src/components/ui/controls/WindowControls.vue
  src/components/ui/controls/WindowControlsGnome.vue
  src/components/ui/controls/WindowControlsMacOs.vue
  src/components/ui/controls/WindowControlsWindows.vue
  src/components/ui/controls/WindowTitlebar.vue
  src/components/ui/controls/types.ts
  src/components/ui/controls/utils.ts
Due: eslint --fix --flag unstable_ts_config, stylelint --fix

Add license scan report and status
  README.md
Due: none

📝 更新 README
  README.md
Due: none

🔧 添加 shadcn-vue 配置文件
  .gitignore
  components.json
Due: none

🏗️ 更新开发环境
  .lintstagedrc
  .stylelintrc
  bun.lockb
  eslint.config.js
  index.html
  package.json
  src-tauri/capabilities/default.json
  src-tauri/capabilities/desktop.json
  src-tauri/src/lib.rs
  src/assets/vue.svg
  src/router/index.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix --flag unstable_ts_config
